{% extends 'main.html' %}
{% block content %}
{% load static %} 

<!-- Jquery Cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

<div class="container">


                       
  <div class="row justify-content-center">
   
    <div class="col-lg-5 col-md-5 mt-3 shadow p-3">
      <h3>Enquiry Form</h3>
      {% if messages %}
      {% for message in messages %}
            <div class="alert alert-info">
                <div id="msg">{{ message }}</div>
            </div>
      {% endfor %}
  
      {% endif %}
      <div id="alertBox">

      </div>

    <form action="" method="post" id="Enquiry_form" >
      


      {% csrf_token %}                                    
      <input type="text"  name="name" id="names" class="form-control mt-3" placeholder="Name">
      <input type="tel"   name="phone" id="phone"  class="form-control mt-3" placeholder="Mobile" >
      <input type="email" name="email" id="email" class="form-control mt-3" placeholder="Email" />
     
      <select class="form-control mt-3" name="enquiry" id="enquiry">
      <option>Enquiry About</option>
      <option>Website Designing</option>
      <option>Website Development</option>                               
      </select>
    <button type="submit" class="btn btn-primary mt-3" >Submit</button>                            
    </form>
   
  </div>
  </div>                  

</div>




<script>
  const alertBox=document.getElementById('alertBox')
  const form =document.getElementById('Enquiry_form')
  const csrf =document.getElementsByName('csrfmiddlewaretoken')
  console.log(csrf)

  const handleAlerts = (type,text)=>{
    alertBox.innerHTML = `<div class="alert alert-${type}" role="alert">
      ${text}
      
      </div>`
  }
  
  
  
  url=''
  form.addEventListener('submit', e=>{

    e.preventDefault();

    const fd=new FormData();

    fd.append('csrfmiddlewaretoken',csrf[0].value);
    fd.append('name',   names.value);
    fd.append('email',  email.value);
    fd.append('phone',  phone.value);
    fd.append('enquiry',enquiry.value);


    $.ajax({
      type:'POST',
      url:url,
      data:fd,
      success: function(response){
        console.log("thsi is response",response.error)
       
        
        const sText =`We got Your Request, we will connect to you soon ${response.name}`
        handleAlerts('success',sText)

        setTimeout(()=>{

          alertBox.innerHTML = "" ;
          names.value        = "" ;
          phone.value        = "" ;
          email.value        = "" ;
          

        }, 3000);

      },
      error: function(error)
      {
        
        handleAlerts('danger',"something went wrong")

      },
      cache:false,
      contentType:false,
      processData:false
    });


  });


</script>









{% endblock %}
